<% provide(:title, 'All Ideas') %>
 <div class="col-md-3 well">
        <a href="/submit"><button type="button" class="btn btn-lg btn-primary">Submit an Idea</button></a>
        <hr>
        <h3>Areas</h3>
        <%= render 'shared/area_menu' %>
    </div>
<div class="col-md-9">
	<div class="jumbotron">
		<h1>All Ideas</h1>
	</div>
	<%= form_tag ideas_path, :method => 'get', :id => "idea_search"  do %>
     <%= text_field_tag :search,  params[:search], :placeholder => 'Search for title...'%> <%= submit_tag "Search", :name => nil, :class => "btn" %>
	<% end %>
  <%= render "shared/feed" %>
</div>