<% provide(:title, @idea.title) %>
<div class="col-md-8">
	
    <div class="panel panel-default">
      <div class="panel-body">

	  <h3><%= @idea.title %></h3>
	  <%= raw(@idea.content) %>
	  <% if current_user?(@idea.user) %>
		  <div class="pull-right idea-actions">
		  	<%= link_to "Edit", edit_idea_path(@idea), class: "glyphicon glyphicon-edit" %>
		  	<%= link_to "Delete", @idea, method: :delete,
	                                   data: { confirm: "Are you sure you want to delete the idea?" },
	                                   title: @idea.title, class: "glyphicon glyphicon-remove" %>
			</div>
		<% end %>
	  <hr>
	  <% if current_user?(@idea.user) %>
	  <div id="upload">
	  	<div id="dropzone">
	  		<input data-url="/ideas/<%= @idea.id %>/uploads" id="uploaded_file" name="upload[uploaded_file]" multiple="" type="file"></input>
	  		<div class="title">Drop file to upload</div>
	  		<button type="button" class="browse btn btn-success">Browse</button>
	  	</div>
	  	<div class="upload-list"></div>
	  </div>
	  <% end %>
	  <div id="files">
	  	<div id="flash_notice"></div>
	  	<%= render partial: "uploads/upload", collection: @uploads, as: :upload %>
	  </div>
    </div>
    
	  </div>
	  <%= render "shared/comment_form" %>
	
	<% if @comments.any? %>
	<h3 class="header-close-bot"><%= pluralize(@idea.comment_count, "Comment") %></h3>
	  <ol class="media-list comments">
	    <%= render partial: "shared/comment", collection: @comments %>
		</ol>
		<%= link_to 'Load More Comments', idea_path(:id => @idea.id, :page => @comments.next_page), :class => 'load-more-comments', :remote => true if @comments.next_page %>
	<% end %>
</div>
<div class="col-md-4">
	<div class="idea-info well">
    <p>Author: <%= link_to @idea.user.name, @idea.user %></p>
    <p>Challenge: <%= link_to Area.find(@idea.area_id).title, Area.find(@idea.area_id) %></p>
    <p>Posted: <%= @idea.created_at %></p>
    </br>
    <span><% if @idea.comment_count %>
      <%= pluralize(@idea.comment_count, "Comment")%>
      <% else %>0 Comments<% end %>
    </span> | 
    <span class="idea-votes"><%= pluralize(@idea.vote_count, "Upvote") %></span> 
    <span class="vote-link"><%= link_to "", @vote_link, :class => 'glyphicon glyphicon-thumbs-up ' + @vote_class , :remote => true %></span>  
  </div>
</div>

