<% provide(:title, @idea.title) %>
<div class="col-md-8">
	<div class="row">
	  <h1><%= @idea.title %></h1>
	  <hr>
	  <%= raw(@idea.content) %>
	  <hr>
	  <div id="upload">
	  	<div id="dropzone">
	  		<input data-url="/ideas/<%= @idea.id %>/uploads" id="uploaded_file" name="upload[uploaded_file]" multiple="" type="file"></input>
	  		<div class="title">Drop file to upload</div>
	  		<button type="button" class="browse btn btn-primary">Browse</button>
	  	</div>
	  	<div class="upload-list"></div>
	  </div>
	  <div id="files">
	  	<div id="flash_notice"></div>
	  	<%= render partial: "uploads/upload", collection: @uploads, as: :upload %>
	  </div>
	  <div class="row"></div>
	  <hr>
	  <% if current_user?(@idea.user) %>
		  <div class="pull-right post-actions">
		  	<%= link_to "Edit", edit_idea_path(@idea), class: "glyphicon glyphicon-edit" %>
		  	<%= link_to "Delete", @idea, method: :delete,
	                                   data: { confirm: "Are you sure you want to delete the idea?" },
	                                   title: @idea.title, class: "glyphicon glyphicon-remove" %>
			</div>
		<% end %>
	</div>
	<h2 class="header-close-bot">Comments</h2>
	<% if @comments.any? %>
	  <ol class="media-list comments">
	    <%= render partial: "comment", collection: @comments %>
		</ol>
		<%= link_to 'Load More Comments', idea_path(:id => @idea.id, :page => @comments.next_page), :class => 'load-more-comments', :remote => true if @comments.next_page %>
	<% end %>
</div>
<div class="col-md-4">
	<%= render "shared/comment_form" %>
</div>

