<% provide(:title, @idea.title) %>
<div class="col-md-8">
	<div class="row">
	  <h1><%= @idea.title %></h1>
	  <hr>
	  <%= raw(@idea.content) %>
	  <div class="pull-right post-actions">
	  	<%= link_to "Edit", edit_idea_path(@idea), class: "glyphicon glyphicon-edit" %>
	  	<%= link_to "Delete", @idea, method: :delete,
                                   data: { confirm: "Are you sure you want to delete the idea?" },
                                   title: @idea.title, class: "glyphicon glyphicon-remove" %>
		</div>
	  <hr>
	  
	</div>
	<h2 class="header-close-bot">Comments</h2>
	<% if @comments_all.any? %>
		<% @comments = @comments_all.paginate(:page => params[:page], :per_page => 5, :order => 'created_at DESC')%>
		<%= will_paginate @comments %>
	  <ol class="media-list">
	    <%= render partial: "comment", collection: @comments, as: :comment %>
		</ol>
		<%= will_paginate @comments %>
	<% end %>
</div>
<div class="col-md-4">
	<%= render "shared/comment_form" %>
</div>

