<div class="panel panel-default comment-panel">
  <p class="lead">Post a Comment</p>
  <%= form_for([@idea, @comment], remote: true, :html => {:class => "form-inline"}) do |f| %>
    <div class="input-group text-center">
				<%= f.text_area :body, :class => "form-control input-lg" %>
				<%= f.hidden_field :commentable_type, :value => "Idea"%>
	      <%= f.hidden_field :commentable_id, :value => @idea.id%>
        <span class="input-group-btn">	
	      <%= f.submit "Send", class: "btn btn-lg btn-success", id: "comment-submit" %></span>
    </div>
	<% end %>
</div>