<div class="panel panel-default">
  <div class="panel-body">
		<li id="<%= post.id %>" class="media">
  		<div class="media-object pull-left"><%= link_to gravatar_for(post.user), post.user %>
  		</div>
  		<div class="media-body">

        <h4 class="media-heading"><%= link_to highlight(wrap(post.title), @search), idea_path(post.id) %></h4>
        <span class="content">  
            <%= highlight(strip_tags(post.content.truncate(220)), @search) %>
          </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.name, post.user %> in <%= link_to Area.find(post.area_id).title, Area.find(post.area_id) %>.
        </span>
        <span class="pull-right post-actions">
        <% if current_user?(post.user) %>
        	<%= link_to "Edit", edit_idea_path(post.id), class: "glyphicon glyphicon-edit" %>
          <%= link_to "Delete", post, method: :delete,
                                           data: { confirm: "Are you sure you want to delete the idea?" },
                                           title: post.title, class: "glyphicon glyphicon-remove" %>
        <% end %>
        </span>
      </div>
		</li>
	</div>
</div>

