<li id="<%= post.id %>" class="media">
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="pull-right label label-info">New</span>
      <h4><%= link_to highlight(wrap(post.title), @search), idea_path(post.id) %></h4>
    </div>
    <div class="panel-body">
  		<div class="media-object pull-left"><%= link_to gravatar_for(post.user), post.user %>
  		</div>
  		<div class="media-body">
        <span class="content">  
            <%= highlight(strip_tags(post.content.truncate(200)), @search) %>
            <%= link_to 'Show more', idea_path(:id => post.id), :class => 'load_full_content', :remote => true %>
        </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to post.user.name, post.user %> in <%= link_to Area.find(post.area_id).title, Area.find(post.area_id) %>.
        </span>
      </br>
        <span>
          <span><%= link_to pluralize(post.comment_count, "Comment"), idea_comments_path(post), :class => 'comment_link', :remote => true %></span> | <span class="idea-votes"><%= pluralize(post.vote_count, "Upvote") %></span> <span class="vote-link"><%= link_to "", @vote_link[post.id], :class => 'glyphicon glyphicon-thumbs-up ' + @vote_class[post.id] , :remote => true %></span>
        </span>
        <span class="pull-right post-actions">
        <% if current_user?(post.user) %>
        	<%= link_to "Edit", edit_idea_path(post.id), class: "glyphicon glyphicon-edit" %>
          <%= link_to "Delete", post, method: :delete,
                                           data: { confirm: "Are you sure you want to delete the idea?" },
                                           title: post.title, class: "glyphicon glyphicon-remove" %>
        <% end %>
        </span>
        <div class="comments" style="display: none"><h2>Comments</h2><ol class="comment-list"></ol></div>
      </div>
    </div>
  </div>
</li>


