<% provide(:title, @area.title) %>
<div class="row">
    <div class="col-md-3 well">
      <h3>Areas</h3>
      <%= render 'shared/area_menu' %>
    </div>
    <div class="col-md-9">
      <div class="jumbotron">
      <h3><%= @area.title %><hr><small><%= @area.description %></small></h3>
      </div>
      <% if @ideas.any? %>
      <div class="media-list ideas">
        <%= render @ideas %>
      </div>
      <%= link_to 'Load More Ideas', area_path(params.merge(:page => @ideas.next_page)), :class => 'load-more-ideas', :remote => true if @ideas.next_page %>
      <% else %>
        <%= render 'shared/no_ideas' %>
      <% end %>
    </div>
  </div>
